/* styles.css */

.page-container {
  margin-top: 2rem; /* Equivalent to my-8 (margin-top: 2rem;) */
  margin-bottom: 2rem; /* Equivalent to my-8 (margin-bottom: 2rem;) */
  margin-left: auto; /* Equivalent to mx-auto (margin-left: auto;) */
  margin-right: auto; /* Equivalent to mx-auto (margin-right: auto;) */
  max-width: 64rem;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  color: #6f18f2;  /*Purple color*/
  margin-bottom: 0.5rem;
  text-align: left;
  margin-top: 0px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 1rem;
}

.model-select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #666;
  margin-bottom: 1rem;
}

.upload-form {
  margin-top: 1rem;
}

.class-input,
.image-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #666;
  margin-bottom: 1rem;
}

.form-container {
  padding: 1.5rem; /* Equivalent to p-6 (padding: 1.5rem;) */
  margin-top: 1.5rem; /* Equivalent to mt-6 (margin-top: 1.5rem;) */
  border-radius: 0.5rem; /* Equivalent to rounded-lg (border-radius: 0.5rem;) */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Equivalent to shadow-lg (box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);) */
  background-color: #e6e6fa !important;
}

.form-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

.form-section {
  margin-bottom: 1rem;
}

.submit-button,
.add-class-button,
.train-button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.submit-button:hover,
.add-class-button:hover,
.train-button:hover {
  cursor: pointer;
}

.submit-button {
  background-color: #3498db;
  color: #fff;
}

.add-class-button {
  background-color: #27ae60;
  color: #fff;
}

.train-button {
  background-color: #f39c12;
  color: #fff;
}

.epoch-select,
.learning-rate-input,
.batch-size-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #666;
  margin-bottom: 1rem;
}

.Model-Select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: #4b5563; /* text-gray-600 */
  margin-bottom: 0.25rem; /* mb-1 */
}